/* Navbar */
.navbar {
    position: relative;
    z-index: 2;
}

.navbar-brand {
    font-family: 'Viga', sans-serif;
    font-size: 32px;
}

/* Desktop */
@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
        color: black;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
        position: relative;
    }

}